.MuiPaginationItem-page.Mui-selected {
  background: #3a80ba !important;
}

.MuiPaginationItem-outlined {
  width: 48px !important;
  height: 48px !important;
  border-radius: 8px !important;
  border: 2px solid #f1f1f1 !important;
}
