.plain-footer {
  margin-top:auto; 
  background-color: #1c3b55;
  width: 100%;
  height: 57px;
  color: #fff;
  padding: 17px 17px;
  .span{
    font-size: 16px;
  }
  .footer-title{
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 768px) {
  .plain-footer{
    height: 96px;
  }
}

