.footer {
  background-image: url(../../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  span {
    color: #fff;
    font-size: 16px;
    line-height: 142%;
  }
  .footer-logo {
    font-size: 32px;
    line-height: 39px;
  }
  .subscribe-box {
    border-radius: 10px;
    position: relative;
    input {
      background: #ffffff;
      border: 1px solid #f1f1f1;
    }
    #email {
      padding: 0.7rem 0.95rem;
      background: #fdfcfb;
      font-family: inherit;
      color: #737373;
      letter-spacing: 1px;
      text-indent: 5%;
      border-radius: 10px;
    }
    #submit {
      position: absolute;
      right: 4px;
      color: #fff;
      background: #3a80ba;
      border-radius: 8px;
      padding: initial;
      top: 4px;
      bottom: 4px;
      width: 30%;
    }
  }
}
