.footer {
  background-image: url(../../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  span{
    
  }
  .footer-logo {
    font-size: 32px;
    line-height: 39px;
  }
}
