.footer {
  background-image: url(../../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  span {
    color: #fff;
    font-size: 16px;
    line-height: 142%;
  }
  .footer-logo {
    font-size: 32px;
    line-height: 39px;
  }
  .subscribe-box{
    border-radius: 10px;
    input
  }
}
