body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
}
img {
  position: relative;
  display: block;
  width: 100%;
}

table {
  thead{
    background: #3A80BA;
    color: #fff;
  }
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}
.table-striped tbody tr:nth-of-type(even) {
  background: #F1F1F1;
}

.breadcrumb {
  background-color: #fff !important;
}

.charts-title{
  color:#1A1A1A;
}