.brainstorming{
  background-image: url(../../img/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mobile{
  background-image: url(../../img/);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-image{
  position: relative;
  width: 100%;
  display: block;
}