.header{
  width: 100%;
  height: 60px;
  background: linear-gradient(92.09deg, #255D8B 2.29%, #3A80BA 96.79%);
}

.navbar-brand {
  color: #fff;
  font-size: 40px;
  line-height: 49px;
  position: absolute;
  width: 136px;
  height: 49px;
  left: 130px;
  top: 24px;
  font-size: 40px;
  margin-bottom: ;
}
